{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">Data Table</h2>
        <p>Below is a table showing data on.</p>
        <p>{{ single_number }}</p>

        <h2 class="text-xl mb-2">Random Address</h2>
        <p>Below is a random address.</p>
        <p>{{ single_address }}</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li>Secure patient data management</li>
            <li>Easy appointment scheduling</li>
            <li>Interactive dashboards for health metrics</li>
        </ul>
    </section>



{% endblock %}

   
   
   
