{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">Data Table</h2>
        <p>Below is a table showing data on.</p>
        <p>{{ first_csv.to_html(classes='table table-striped table-bordered table-condensed') | safe }}</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li>Secure patient data management</li>
            <li>Easy appointment scheduling</li>
            <li>Interactive dashboards for health metrics</li>
        </ul>
    </section>



{% endblock %}

   
   
   
